body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(#1b38cd, #1e274e);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 45%;
    height: 55vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 12px 12px 20px #4e7391,
                -12px -12px 20px #2b475e;
                background: #6c9ac0;
}

.display #screen {
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 0.5rem;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
.btns {
    width: 100%;
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.btns .row button:hover {
    background-color: #cbced1;
}
.btns .row button:active {
    background-color: #04a770;
}
.final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #484444;
}

#evl{
    background-color: #04a770;
    color: #ffffff;
}
#evl:hover {
    background-color: #14804a;
}
#ac {
    background-color:#db1c0d;
    color: #fff;
}
#ac:hover {
    background-color: #c51305;
}
#ce {
    background-color: #1344e5;
    color: #fff;
}
#ce:hover {
    background-color: #002dbf;
}

@media (max-width: 789px) {
    .container {
        width: 95%;
        height: 350px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 90%;
        height: 520px;
    }
    .btns {
        width: 30px;
        position: relative;
        flex-direction: row;
        left: 155px;
    }
    .btns .row button {
        width: 55px;
        margin-left: 10px;
        height: 55px;
    }
}